templates/template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_cowin_la_01_name": {
            "defaultValue": "cowin-la-01",
            "type": "String"
        },
        "subscription_id":{
        	"defaultValue": "",
            "type": "String"
        },
        "resource_group":{
        	"defaultValue": "",
            "type": "String"
        },
        "from_phone_number":{
        	"defaultValue": "",
            "type": "String"
        },
        "to_phone_number":{
        	"defaultValue": "",
            "type": "String"
        },
        "location":{
        	"defaultValue": "",
            "type": "String"
        },
        "connections_twilio_externalid": {
            "defaultValue": "/subscriptions/[parameters('subscription_id')]/resourceGroups/[parameters('resource_group')]/providers/Microsoft.Web/connections/twilio",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_cowin_la_01_name')]",
            "location": "[parameters('location')]",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": 15
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Condition_for_Rest_Call_1": {
                            "actions": {
                                "Send_Text_Message_(SMS)_1": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "body": "Cowin slot is now available. Please check",
                                            "from": "[parameters('from_phone_number')]",
                                            "to": "[parameters('to_phone_number')]"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['twilio']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/Messages.json"
                                    }
                                }
                            },
                            "runAfter": {
                                "Rest_Call_1": [
                                    "Succeeded"
                                ]
                            },
                            "expression": {
                                "and": [
                                    {
                                        "contains": [
                                            "@string(body('Rest_Call_1'))",
                                            "center_id"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Condition_for_Rest_Call_2": {
                            "actions": {
                                "Send_Text_Message_(SMS)": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "body": "Cowin slot is now available. Please check",
                                            "from": "[parameters('from_phone_number')]",
                                            "to": "[parameters('to_phone_number')]"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['twilio']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/Messages.json"
                                    }
                                }
                            },
                            "runAfter": {
                                "Rest_Call_2": [
                                    "Succeeded"
                                ]
                            },
                            "expression": {
                                "and": [
                                    {
                                        "contains": [
                                            "@string(body('Rest_Call_2'))",
                                            "center_id"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Initialize_variable_(date)": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "date",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_(pincode)": {
                            "runAfter": {
                                "Set_variable_(date)": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "pincode",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Rest_Call_1": {
                            "runAfter": {
                                "Set_variable_(pincode)_1": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "headers": {
                                    "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.182 Safari/537.36"
                                },
                                "method": "GET",
                                "uri": "https://cdn-api.co-vin.in/api/v2/appointment/sessions/public/calendarByPin?pincode=@{variables('pincode')}&date=@{variables('date')}"
                            }
                        },
                        "Rest_Call_2": {
                            "runAfter": {
                                "Set_variable_(pincode)_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "headers": {
                                    "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.182 Safari/537.36"
                                },
                                "method": "GET",
                                "uri": "https://cdn-api.co-vin.in/api/v2/appointment/sessions/public/calendarByPin?pincode=@{variables('pincode')}&date=@{variables('date')}"
                            }
                        },
                        "Set_variable_(date)": {
                            "runAfter": {
                                "Initialize_variable_(date)": [
                                    "Succeeded"
                                ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "date",
                                "value": "@{convertFromUtc(utcNow(), 'India Standard Time', 'dd-MM-yyyy')}"
                            }
                        },
                        "Set_variable_(pincode)_1": {
                            "runAfter": {
                                "Initialize_variable_(pincode)": [
                                    "Succeeded"
                                ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "pincode",
                                "value": "400011"
                            }
                        },
                        "Set_variable_(pincode)_2": {
                            "runAfter": {
                                "Initialize_variable_(pincode)": [
                                    "Succeeded"
                                ]
                            },
                            "type": "SetVariable",
                            "inputs": {
                                "name": "pincode",
                                "value": "400004"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "twilio": {
                                "connectionId": "[parameters('connections_twilio_externalid')]",
                                "connectionName": "twilio",
                                "id": "/subscriptions/[parameters('subscription_id')]/providers/Microsoft.Web/locations/[parameters('location')]/managedApis/twilio"
                            }
                        }
                    }
                }
            }
        }
    ]
}